
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  /* width: 100%; */
  display: block;
}

.sudoku-container {
  
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.sudoku-grid {
  width: 100vw;
  height: 100vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* grid-template-rows: repeat(9, 1fr); */
  margin: 0 auto;

}

/* Sudoku grid borders etc */
.sudoku-grid > div {
  width: calc(100vw / 9);
  height: calc(100vw / 9);
  font-size: calc(100vw / 18);
  border: 1px dashed black;
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sudoku-grid div:nth-child(3n) {
  border-right: 2px solid black;
}

.sudoku-grid div:nth-child(9n-8) {
  border-left: 2px solid black;
}

.sudoku-grid div:nth-child(-n+9) {
  border-top: 2px solid black;
}

.sudoku-grid div:nth-child(27n),
.sudoku-grid div:nth-child(27n-1),
.sudoku-grid div:nth-child(27n-2),
.sudoku-grid div:nth-child(27n-3),
.sudoku-grid div:nth-child(27n-4),
.sudoku-grid div:nth-child(27n-5),
.sudoku-grid div:nth-child(27n-6),
.sudoku-grid div:nth-child(27n-7),
.sudoku-grid div:nth-child(27n-8) {
  border-bottom: 2px solid black;
}

.sudoku-grid > div:hover {
  font-weight: 700;
}

.selected {
  background-color: khaki;
  border: blue solid 1px;
}

.illegal {
  background-color: red;
}

.input-grid {
  margin: 1em;
}

.input-grid-row {
  display: flex;
}

.input-grid-item {
  border: 1px solid black;
  padding: 1em;
  cursor: pointer;
}

.input-grid-item:hover {
  transform: scale(1.1);
}