.App {
  /* width: 100%; */
  display: block;
}

.sudoku-container {
  
  /* display: block; */
  margin: 0 auto;
  width: 18em;
}
.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* grid-template-rows: repeat(9, 1fr); */
  margin: 0 auto;

}

.sudoku-grid > div {
  width: 2em;
  height: 2em;
  border: 1px dashed black;
  text-align: center;
  vertical-align: middle;
}